<template x-component="share-button">
  <div
    x-data="{ ...shareButtonComponent(), ...$el.parentElement.data() }"
    class="p-3 grid justify-items-end"
  >
    <!-- Copied URL Notification -->
    <div
      x-show="copied"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0 transform scale-90"
      x-transition:leave="transition ease-in duration-300"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      class="
        relative
        bg-black text-zinc-500
        rounded
        p-2
        mt-4
      "
      x-bind:data-test-id="get('id') + '-popup'"
    >
      Copied!
    </div>

    <!-- Share Icon -->
    <div
      @click="copyURL()"
      class="
        w-4 h-4
        opacity-80 hover:opacity-100
        cursor-pointer share-icon
        text-white
      "
      x-bind:data-test-id="get('id') + '-icon'"
    ></div>
  </div>
</template>
