<template x-component="player-interface">
  <div
    x-data="{ ...playerInterfaceComponent(), ...$el.parentElement.data() }"
  >
  <!-- Floating Video Player Overlay -->
  <div class="flex flex-col items-center justify-center p-0 bg-transparent">
    <!-- Video Controls -->
    <div class="flex items-center space-x-20 text-white">
      <div
        @click="$store.mnemonics.previousMnemonic()"
        class="previous-icon
          opacity-80
          hover:opacity-100
          cursor-pointer
          w-8
          h-8
        "
        data-test-id="previous-button"
      ></div>
      <div
        @click="player.togglePause()"
        :class="{
          'play-icon': $store.player.isPaused,
          'pause-icon': !$store.player.isPaused,
        }"
        class="opacity-80 hover:opacity-100 cursor-pointer w-8 h-8"
        data-test-id="play-pause-button"
      ></div>
      <div
        @click="$store.mnemonics.nextMnemonic()"
        class="next-icon
          opacity-80
          hover:opacity-100
          cursor-pointer
          w-8
          h-8
        "
        data-test-id="next-button"
      ></div>
    </div>
  </div>
</template>
