<template x-component="toast-rack">
  <div
    x-data="{ ...toastRackComponent(), ...$el.parentElement.data() }"
    class="absolute top-3 right-3"
  >
    <template
      x-for="(toast, index) in $store.toaster.toasts.slice().reverse()"
      :key="toast.id"
    >
      <div
        x-data="{ expanded: false }"
        x-show="toast.isVisible() || expanded"
        @click="toast.hideToast()"
        x-transition:enter="transition ease-out duration-200"
        x-transition:enter-start="-translate-y-full opacity-0"
        x-transition:leave="transition ease-in duration-300"
        x-transition:leave-end="translate-x-full opacity-0"
        class="px-4 pt-4"
        data-test-id="toast"
      >
        <div
          x-ref="toastContent"
          x-data="{ isOverflowing: false }"
          class="backdrop-blur-lg rounded-lg text-zinc-500 p-3 shadow-lg flex items-center border w-[300px]"
          :class="TOAST_STYLES[toast.type].border"
        >
          <svg
            class="w-6 h-6 mr-2 shrink-0"
            :class="TOAST_STYLES[toast.type].fill"
            fill="currentColor"
          >
            <use x-effect="loadSvgSprite($el, TOAST_STYLES[toast.type].icon)"></use>
          </svg>
          <div
            x-init="setTimeout(() => isOverflowing = $refs.textContent.scrollWidth > $refs.textContent.clientWidth, 100)"
            x-ref="textContent" :class="{ 'truncate': !expanded, 'break-words': expanded }" x-text="toast.message"
            class="overflow-hidden"
            data-test-id="toast-message"
          >
          </div>
          <button x-show="isOverflowing" @click.stop="expanded = !expanded"
            :class="{ '-rotate-90 -translate-y-2 -translate-x-1': expanded, 'rotate-90': !expanded }"
            class="absolute top-0 right-1 origin-center pr-2 transition-transform ease-in-out duration-200 text-xl font-bold"
          >
            <span>›</span>
          </button>
        </div>
      </div>
    </template>
  </div>
</template>
